.custom-dropdown {
  position: relative;
  display: inline-block;
  width: 100%; /* Ensure the container spans the full width */
  border-radius: 5px; /* Rounded edges */
  overflow: hidden; /* Hide the default select arrow */
}

.custom-dropdown select {
  background-color: #f0f1f3;
  height: 50px;
  padding: 0 40px 0 20px; /* Adjust padding for custom arrow */
  font-size: 15px;
  color: #333;
  line-height: 50px;
  cursor: pointer;
  appearance: none; /* Hide the default arrow */
  width: 100%; /* Ensure the select spans the full width */
  box-sizing: border-box; /* Include padding and border in the element's total width */
  border: none; /* Remove the border */
  border-radius: 5px; /* Maintain rounded edges */
}

.custom-dropdown select:focus {
  outline: none;
  border: none; /* Ensure no border on focus */
}

.custom-dropdown .dropdown-arrow {
  position: absolute;
  top: 50%;
  right: 15px;
  width: 0;
  height: 0;
  pointer-events: none;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #000; /* Color of the arrow */
  transform: translateY(-50%);
}

.custom-dropdown option {
  font-size: 15px;
}

.custom-dropdown option[selected] {
  background-color: #444;
  color: #fff;
}

.custom-dropdown option:hover {
  background-color: #71bfe4;
}
